<div class="row">
    <aside class="col-sm-4">
        <%= render 'users/usercard', user: @user %>
        <div id="user-<%= @user.id %>">
            <%= render 'relationships/follow_button', user: @user %>
        </div>
    </aside>
    <div class="col-sm-8">
        <div id="usertabs-<%= @user.id %>">
            <%= render 'users/usertabs', user: @user %>
        </div>
        <%= render 'users', users: @followers %>
    </div>
</div>