<ul class="list-unstyled">
    <% microposts.each do |micropost| %>
        <li class="media mb-3">
            <% if micropost.user.image? %>
                <%= image_tag micropost.user.image.to_s, class: 'mr-2 rounded', size: 50 %>
            <% else %>
                <%= image_tag 'avatar.jpeg', class: 'rounded mr-2', size: 50 %>
            <% end %>
            <div  class="media-body">
                <div>
                    <%= link_to micropost.user.name, user_path(micropost.user) %> <span class="text-muted">posted at <%= micropost.created_at %></span>
                </div>
                <div>
                    <p><%= micropost.content %></p>
                </div>
                <div>
                    <div id="favorite-<%= micropost.id %>" class="d-inline">
                        <%= render 'favorites/like_button', micropost: micropost %>
                    </div>
                    <% if micropost.user == current_user %>
                        <%= render 'microposts/edit_micropost', micropost: micropost %>
                    <% end %>
                </div>
            </div>
        </li>
    <% end %>
    <%= paginate microposts %>
</ul>